streamlit>=1.25.0
earthengine-api>=0.1.331
folium==0.14.0
streamlit-folium==0.11.1
pandas>=1.5.0
numpy
matplotlib
scikit-learn
ipywidgets
Pillow
geemap[folium]>=0.30.0
branca>=0.6.0
ipyleaflet>=0.17.0
traitlets>=5.7.1

