streamlit==1.18.0
geemap==0.35.3
earthengine-api==1.5.8
matplotlib==3.7.2
numpy>=1.26.0
ipywidgets
Pillow
setuptools>=64.0.0
rich>=10.14.0
markdown-it-py>=2.2.0
pygments>=2.13.0
mdurl>=0.1.2
wheel
